<mat-toolbar color="primary">
    <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
    </button>

    <span style="flex: auto;"></span>
    <button mat-button routerLink="/admin/home" matTooltip="Home">Home</button>
    <button mat-button routerLink="/admin/profile" matTooltip="Profile">Profile</button>

    <button mat-button>
        <mat-icon>account_circle</mat-icon>
    </button>

    <button mat-raised-button color="link">Logout</button>
</mat-toolbar>
<mat-drawer-container>
    <mat-drawer #drawer opened="true" mode="side" position="start">
        <mat-list>
            <mat-list-item routerLink="/admin/residents" routerLinkActive="active">
                <button mat-button><mat-icon>people</mat-icon>
                    Residents
                </button>
            </mat-list-item>
        </mat-list>
    </mat-drawer>
    <mat-drawer-content>
        <div style="min-height: 600px;">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>