mat-card {
    width: 70%;
    margin: 2px 0;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

mat-card-content {
    margin: 1rem 0;
}

mat-form-field {
    display: block;
}